https://www.kaggle.com/datasets/rabieelkharoua/predict-customer-purchase-behavior-dataset

In [7]:
#!pip install kaggle

In [8]:
#!kaggle datasets download -d rabieelkharoua/predict-customer-purchase-behavior-dataset

In [9]:
#!unzip predict-customer-purchase-behavior-dataset.zip

In [10]:
# pandas 라이브러리 사용
import pandas as pd

# CSV load
data = pd.read_csv('customer_purchase_data.csv')

In [11]:
# 데이터 구조 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 1500 non-null   int64
 1   Gender              1500 non-null   int64
 2   AnnualIncome        1500 non-null   float64
 3   NumberOfPurchases   1500 non-null   int64
 4   ProductCategory     1500 non-null   int64
 5   TimeSpentOnWebsite  1500 non-null   float64
 6   LoyaltyProgram      1500 non-null   int64
 7   DiscountsAvailed    1500 non-null   int64
 8   PurchaseStatus      1500 non-null   int64
dtypes: float64(2), int64(7)
memory usage: 105.6 KB

In [12]:
# 데이터 샘플 확인
data.head(5)

,Age,Gender,AnnualIncome,NumberOfPurchases,ProductCategory,TimeSpentOnWebsite,LoyaltyProgram,DiscountsAvailed,PurchaseStatus
0,40,1,66120.267939,8,0,30.568601,0,5,1
1,20,1,23579.773583,4,2,38.240097,0,5,0
2,27,1,127821.306432,11,2,31.633212,1,0,1
3,24,1,137798.623120,19,3,46.167059,0,4,1
4,31,1,99300.964220,19,1,19.823592,0,0,1

In [13]:
# 데이터 기초통계 확인
data.describe()

,Age,Gender,AnnualIncome,NumberOfPurchases,ProductCategory,TimeSpentOnWebsite,LoyaltyProgram,DiscountsAvailed,PurchaseStatus
count,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.00000
mean,44.298667,0.504667,84249.164338,10.420000,2.012667,30.469040,0.326667,2.555333,0.43200
std,15.537259,0.500145,37629.493078,5.887391,1.428005,16.984392,0.469151,1.705152,0.49552
min,18.000000,0.000000,20001.512518,0.000000,0.000000,1.037023,0.000000,0.000000,0.00000
25%,31.000000,0.000000,53028.979155,5.000000,1.000000,16.156700,0.000000,1.000000,0.00000
50%,45.000000,1.000000,83699.581476,11.000000,2.000000,30.939516,0.000000,3.000000,0.00000
75%,57.000000,1.000000,117167.772858,15.000000,3.000000,44.369863,1.000000,4.000000,1.00000
max,70.000000,1.000000,149785.176481,20.000000,4.000000,59.991105,1.000000,5.000000,1.00000

In [14]:
# 결측값 확인
missing_values = data.isnull().sum()
print("Missing values in each column:\n", missing_values)

Missing values in each column:
 Age                   0
Gender                0
AnnualIncome          0
NumberOfPurchases     0
ProductCategory       0
TimeSpentOnWebsite    0
LoyaltyProgram        0
DiscountsAvailed      0
PurchaseStatus        0
dtype: int64

In [15]:
import numpy as np
# 결측값 변환 함수
def add_missing_values(df, col_name, missing_frac):
    """
    특정 열에 지정된 비율의 결측값을 추가합니다.

    :param df: 데이터프레임
    :param col_name: 결측값을 추가할 열 이름
    :param missing_frac: 결측값 비율 (0.0 ~ 1.0)
    """
    np.random.seed(42)  # 재현성을 위해 랜덤 시드 설정
    n_rows = df.shape[0] # 데이터프레임의 행 수
    n_missing = int(n_rows * missing_frac) # 결측값을 추가할 행의 수를 계산

    missing_indices = np.random.choice(n_rows, n_missing, replace=False) # 결측값을 추가할 행의 인덱스를 무작위로 선택
    df.loc[missing_indices, col_name] = np.nan # 선택된 인덱스의 열 값을 NaN으로 설정

In [16]:
# 결측값 추가
add_missing_values(data, 'Age', 0.1)  # Age 열에 10% 결측값 추가
add_missing_values(data, 'Gender', 0.1)  # Gender 열에 10% 결측값 추가

In [17]:
# 결측값이 잘 추가되었는지 확인
print("Data with missing values:\n", data.tail(10))
print("Missing values count:\n", data.isnull().sum())

Data with missing values:
        Age  Gender   AnnualIncome  NumberOfPurchases  ProductCategory  \
1490   NaN     NaN   83126.660956                 20                3
1491   NaN     NaN   71611.955361                 20                1
1492  63.0     0.0   71874.591294                 10                2
1493  34.0     1.0   20418.374269                  9                1
1494  34.0     1.0  104649.186035                 14                1
1495  39.0     1.0   65048.141834                 13                0
1496  67.0     1.0   28775.331069                 18                2
1497  40.0     1.0   57363.247541                  7                4
1498  63.0     0.0  134021.775532                 16                2
1499  50.0     0.0   52625.665974                 13                0

      TimeSpentOnWebsite  LoyaltyProgram  DiscountsAvailed  PurchaseStatus
1490            2.280306               0                 1               0
1491           38.681686               0                 5               1
1492           43.546243               0                 1               0
1493           54.459955               0                 0               0
1494           28.998117               0                 1               0
1495           34.590743               0                 5               1
1496           17.625707               0                 1               1
1497           12.206033               0                 0               0
1498           37.311634               1                 0               1
1499           25.348017               1                 4               1
Missing values count:
 Age                   150
Gender                150
AnnualIncome            0
NumberOfPurchases       0
ProductCategory         0
TimeSpentOnWebsite      0
LoyaltyProgram          0
DiscountsAvailed        0
PurchaseStatus          0
dtype: int64

In [18]:
data['Age'].mean()

44.404444444444444

In [19]:
# 숫자 데이터 전처리 - 결측값 처리 (평균값으로 대체)
data['Age'].fillna(data['Age'].mean(), inplace=True)

/var/folders/yn/g97n5dd122qdr_rss5p0p4_40000gn/T/ipykernel_3689/1616718568.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Age'].fillna(data['Age'].mean(), inplace=True)

In [20]:
print("Missing values count:\n", data.isnull().sum())

Missing values count:
 Age                     0
Gender                150
AnnualIncome            0
NumberOfPurchases       0
ProductCategory         0
TimeSpentOnWebsite      0
LoyaltyProgram          0
DiscountsAvailed        0
PurchaseStatus          0
dtype: int64

In [21]:
data.tail(10)

,Age,Gender,AnnualIncome,NumberOfPurchases,ProductCategory,TimeSpentOnWebsite,LoyaltyProgram,DiscountsAvailed,PurchaseStatus
1490,44.404444,NaN,83126.660956,20,3,2.280306,0,1,0
1491,44.404444,NaN,71611.955361,20,1,38.681686,0,5,1
1492,63.000000,0.0,71874.591294,10,2,43.546243,0,1,0
1493,34.000000,1.0,20418.374269,9,1,54.459955,0,0,0
1494,34.000000,1.0,104649.186035,14,1,28.998117,0,1,0
1495,39.000000,1.0,65048.141834,13,0,34.590743,0,5,1
1496,67.000000,1.0,28775.331069,18,2,17.625707,0,1,1
1497,40.000000,1.0,57363.247541,7,4,12.206033,0,0,0
1498,63.000000,0.0,134021.775532,16,2,37.311634,1,0,1
1499,50.000000,0.0,52625.665974,13,0,25.348017,1,4,1

In [22]:
data['Gender'].mode()[0]

0.0

In [23]:
# 범주형 데이터 전처리 - 결측값 처리 (최빈값으로 대체)
data['Gender'].fillna(data['Gender'].mode()[0], inplace=True)

/var/folders/yn/g97n5dd122qdr_rss5p0p4_40000gn/T/ipykernel_3689/1808627359.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Gender'].fillna(data['Gender'].mode()[0], inplace=True)

In [24]:
print("Missing values count:\n", data.isnull().sum())

Missing values count:
 Age                   0
Gender                0
AnnualIncome          0
NumberOfPurchases     0
ProductCategory       0
TimeSpentOnWebsite    0
LoyaltyProgram        0
DiscountsAvailed      0
PurchaseStatus        0
dtype: int64

In [25]:
data['Gender'].head()

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: Gender, dtype: float64

In [26]:
data['Gender'] = ['Male' if gender == 0 else 'Female' for gender in data['Gender']]
data['Gender'].head()

0    Female
1    Female
2    Female
3    Female
4    Female
Name: Gender, dtype: object

In [27]:
# 범주형 데이터 인코딩 (레이블 인코딩)
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder() # 객체 생성
data['Gender'] = le.fit_transform(data['Gender']) # 레이블 인코딩 (Alphabetic)

In [28]:
data['Gender'].head()

0    0
1    0
2    0
3    0
4    0
Name: Gender, dtype: int64

In [29]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# 현재 시간
current_time = datetime.now()

# 예시 데이터 생성
time_data = pd.DataFrame({
    'PurchaseTime': [current_time - timedelta(days=i) for i in range(5)],
    'DeliveryTime': [current_time + timedelta(days=i) for i in range(5)]
})

print("Original Data:\n", time_data)

Original Data:
                 PurchaseTime               DeliveryTime
0 2024-07-08 21:05:27.271254 2024-07-08 21:05:27.271254
1 2024-07-07 21:05:27.271254 2024-07-09 21:05:27.271254
2 2024-07-06 21:05:27.271254 2024-07-10 21:05:27.271254
3 2024-07-05 21:05:27.271254 2024-07-11 21:05:27.271254
4 2024-07-04 21:05:27.271254 2024-07-12 21:05:27.271254

In [30]:
# 시간 데이터를 datetime 형식으로 변환 (이미 datetime)
time_data['PurchaseTime'] = pd.to_datetime(time_data['PurchaseTime'])
time_data['DeliveryTime'] = pd.to_datetime(time_data['DeliveryTime'])

# 시간 컴포넌트 추출
time_data['PurchaseYear'] = time_data['PurchaseTime'].dt.year
time_data['PurchaseMonth'] = time_data['PurchaseTime'].dt.month
time_data['PurchaseDay'] = time_data['PurchaseTime'].dt.day
time_data['PurchaseHour'] = time_data['PurchaseTime'].dt.hour
time_data['PurchaseMinute'] = time_data['PurchaseTime'].dt.minute
time_data['PurchaseSecond'] = time_data['PurchaseTime'].dt.second

# 시간 차이 계산
time_data['DeliveryDays'] = (time_data['DeliveryTime'] - time_data['PurchaseTime']).dt.days

print("\nData after extracting components and calculating differences:\n", time_data)

Data after extracting components and calculating differences:
                 PurchaseTime               DeliveryTime  PurchaseYear  \
0 2024-07-08 21:05:27.271254 2024-07-08 21:05:27.271254          2024
1 2024-07-07 21:05:27.271254 2024-07-09 21:05:27.271254          2024
2 2024-07-06 21:05:27.271254 2024-07-10 21:05:27.271254          2024
3 2024-07-05 21:05:27.271254 2024-07-11 21:05:27.271254          2024
4 2024-07-04 21:05:27.271254 2024-07-12 21:05:27.271254          2024

   PurchaseMonth  PurchaseDay  PurchaseHour  PurchaseMinute  PurchaseSecond  \
0              7            8            21               5              27
1              7            7            21               5              27
2              7            6            21               5              27
3              7            5            21               5              27
4              7            4            21               5              27

   DeliveryDays
0             0
1             2
2             4
3             6
4             8

In [31]:
# 데이터 스케일링
from sklearn.preprocessing import StandardScaler # standardize
print("Data before scaling:\n", data[['Age', 'AnnualIncome']].head())

scaler = StandardScaler() # 객체 생성
data[['Age', 'AnnualIncome']] = scaler.fit_transform(data[['Age', 'AnnualIncome']]) # 스케일링

print("Data after scaling:\n", data[['Age', 'AnnualIncome']].head())

Data before scaling:
     Age   AnnualIncome
0  40.0   66120.267939
1  20.0   23579.773583
2  27.0  127821.306432
3  24.0  137798.623120
4  31.0   99300.964220
Data after scaling:
         Age  AnnualIncome
0 -0.300467     -0.481934
1 -1.664846     -1.612821
2 -1.187314      1.158311
3 -1.391970      1.423546
4 -0.914438      0.400133

In [32]:
print("Original table:\n", data.head())
# 데이터 피벗
pivot_table = data.pivot_table(values='AnnualIncome', index='ProductCategory', columns='PurchaseStatus', aggfunc='mean') # aggfunc: 집계함수
print("Pivot table:\n", pivot_table.head())

Original table:
         Age  Gender  AnnualIncome  NumberOfPurchases  ProductCategory  \
0 -0.300467       0     -0.481934                  8                0
1 -1.664846       0     -1.612821                  4                2
2 -1.187314       0      1.158311                 11                2
3 -1.391970       0      1.423546                 19                3
4 -0.914438       0      0.400133                 19                1

   TimeSpentOnWebsite  LoyaltyProgram  DiscountsAvailed  PurchaseStatus
0           30.568601               0                 5               1
1           38.240097               0                 5               0
2           31.633212               1                 0               1
3           46.167059               0                 4               1
4           19.823592               0                 0               1
Pivot table:
 PurchaseStatus          0         1
ProductCategory
0               -0.176827  0.244683
1               -0.258843  0.114289
2               -0.050934  0.210538
3               -0.227139  0.228702
4               -0.104131  0.295883

In [33]:
# 데이터 합치기
# 예제 데이터프레임 생성
data_1 = data[['Age', 'PurchaseStatus', 'AnnualIncome']]
# data_1 데이터 형태
print("Original data_1:\n", data_1.head())
data_2 = data[['Gender', 'AnnualIncome']]
# data_2 데이터 형태
print("Original data_2:\n", data_2.head())
merged_data = pd.merge(data_1, data_2, on='AnnualIncome')
print("Merged data:\n", merged_data.head())

Original data_1:
         Age  PurchaseStatus  AnnualIncome
0 -0.300467               1     -0.481934
1 -1.664846               0     -1.612821
2 -1.187314               1      1.158311
3 -1.391970               1      1.423546
4 -0.914438               1      0.400133
Original data_2:
    Gender  AnnualIncome
0       0     -0.481934
1       0     -1.612821
2       0      1.158311
3       0      1.423546
4       0      0.400133
Merged data:
         Age  PurchaseStatus  AnnualIncome  Gender
0 -0.300467               1     -0.481934       0
1 -1.664846               0     -1.612821       0
2 -1.187314               1      1.158311       0
3 -1.391970               1      1.423546       0
4 -0.914438               1      0.400133       0

In [34]:
# 데이터 그룹화
grouped_data = data.groupby('Gender').agg({'AnnualIncome': 'mean', 'Age': 'mean'})
print("Grouped data:\n", grouped_data)

Grouped data:
         AnnualIncome       Age
Gender
0           0.005859  0.016575
1          -0.004793 -0.013561

In [35]:
data.head()

,Age,Gender,AnnualIncome,NumberOfPurchases,ProductCategory,TimeSpentOnWebsite,LoyaltyProgram,DiscountsAvailed,PurchaseStatus
0,-0.300467,0,-0.481934,8,0,30.568601,0,5,1
1,-1.664846,0,-1.612821,4,2,38.240097,0,5,0
2,-1.187314,0,1.158311,11,2,31.633212,1,0,1
3,-1.391970,0,1.423546,19,3,46.167059,0,4,1
4,-0.914438,0,0.400133,19,1,19.823592,0,0,1

In [36]:
# 파생 변수 생성
data['AgeGroup'] = pd.cut(data['Age'], bins=[0, 18, 35, 50, 100], labels=['Child', 'Young Adult', 'Adult', 'Senior'])
print("Data with AgeGroup:\n", data[['Age', 'AgeGroup']].head())

Data with AgeGroup:
         Age AgeGroup
0 -0.300467      NaN
1 -1.664846      NaN
2 -1.187314      NaN
3 -1.391970      NaN
4 -0.914438      NaN

In [37]:
# 데이터 샘플링
sampled_data = data.sample(frac=0.1, random_state=42)
print("Sampled data:\n", sampled_data.head())
print("*"*30)
print("Sampled data info:\n", sampled_data.info())

Sampled data:
                Age  Gender  AnnualIncome  NumberOfPurchases  ProductCategory  \
1116  4.847250e-16       1     -0.415755                 12                3
1368  4.847250e-16       1      0.036533                 18                0
422   4.847250e-16       1     -0.877193                  4                1
413   4.847250e-16       1     -1.367940                 18                2
451   4.847250e-16       1     -0.230628                 12                4

      TimeSpentOnWebsite  LoyaltyProgram  DiscountsAvailed  PurchaseStatus  \
1116           23.396362               1                 5               1
1368           11.657565               0                 1               0
422            46.090844               0                 0               0
413             1.137081               0                 1               0
451            49.085904               1                 3               1

     AgeGroup
1116    Child
1368    Child
422     Child
413     Child
451     Child
******************************
<class 'pandas.core.frame.DataFrame'>
Index: 150 entries, 1116 to 782
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 150 non-null    float64
 1   Gender              150 non-null    int64
 2   AnnualIncome        150 non-null    float64
 3   NumberOfPurchases   150 non-null    int64
 4   ProductCategory     150 non-null    int64
 5   TimeSpentOnWebsite  150 non-null    float64
 6   LoyaltyProgram      150 non-null    int64
 7   DiscountsAvailed    150 non-null    int64
 8   PurchaseStatus      150 non-null    int64
 9   AgeGroup            150 non-null    category
dtypes: category(1), float64(3), int64(6)
memory usage: 12.1 KB
Sampled data info:
 None

In [38]:
# PCA (주성분 분석)
from sklearn.decomposition import PCA

# PCA 적용
pca = PCA(n_components=2)
pca_result = pca.fit_transform(data[['Age', 'AnnualIncome', 'NumberOfPurchases']])

# 결과를 데이터프레임으로 변환
pca_df = pd.DataFrame(pca_result, columns=['PC1', 'PC2'])

print("PCA Result:\n", pca_df.head())

PCA Result:
         PC1       PC2
0  2.418075  0.566211
1  6.409424  2.344335
2 -0.587544 -0.015242
3 -8.588690 -0.099488
4 -8.585626  0.307686

In [39]:
# 전처리 작업의 자동화 (파이프라인 구축)
from sklearn.pipeline import Pipeline  # 파이프라인 구축을 위한 클래스
from sklearn.impute import SimpleImputer  # 결측값 처리
from sklearn.preprocessing import StandardScaler  # 데이터 스케일링

# 예제를 위한 데이터 분리
data_1 = data[['Age', 'AnnualIncome', 'NumberOfPurchases']]

# 파이프라인 구축
pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='mean')),  # 결측값 대체
    ('scaler', StandardScaler())  # 데이터 스케일링
])

# 데이터 변환
processed_data = pipeline.fit_transform(data_1)

# 결과를 데이터프레임으로 변환
processed_data_df = pd.DataFrame(processed_data, columns=['Age', 'AnnualIncome', 'NumberOfPurchases'])

print("Processed Data:\n", processed_data_df.head())

Processed Data:
         Age  AnnualIncome  NumberOfPurchases
0 -0.300467     -0.481934          -0.411185
1 -1.664846     -1.612821          -1.090830
2 -1.187314      1.158311           0.098548
3 -1.391970      1.423546           1.457838
4 -0.914438      0.400133           1.457838